<div class="main-header bg-secondary">
    <h1 class="h1 ml-3 text-white mb-0">{{title}}</h1>
</div>
<div class="p-4 py-5 mt-5">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">வரிசை எண்</th>
                <th scope="col">பாடல்</th>
                <th class="text-center" scope="col">பாடல் என்</th>
            </tr>
        </thead>
        <tbody>
            {{#each songList}}
            <tr class="h5">
                <th scope="row">{{ @index}}</th>
                <td> <a class="text-decoration-none" href="{{this.songNo}}">{{this.name}}</a></td>
                <td class="text-center">{{this.songNo}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>