<script src="/js/songs.js"></script>

<div class="main-header bg-secondary">
    <h1 class="h6 d-block d-sm-block d-md-none text-white mb-0 pl-4 w-100">{{title}}</h1>
    <h3 class="h3 d-none d-sm-none d-md-block text-white mb-0 pl-4 w-100">{{title}}</h3>
</div>
<div class="px-2 px-sm-3 px-md-4 py-2 mt-3 list-bg">
    <div class="row w-100 mx-0 align-items-start mt-4 mb-4">
        <div id="role_selector" class="col-12 col-sm-6 col-md-4">
            <select onchange="sortBy(value)" class="text-dark form-control input-lg">
                <option selected="true" disabled="true" value="">வரிசைப்படுத்து</option>
                <option value="songNo">பாடல் எண் மூலம்</option>
                <option value="songName">பாடல் பெயர் மூலம்</option>
            </select>
            <i class="text-dark fas fa-caret-down"></i>
        </div>

        <div class="col-12 col-sm-6 col-md-3 mt-3 mt-sm-0 mt-md-0 position-relative">
            <form onsubmit="goToSong()">
                <input type="text" class="form-control" placeholder="பாடல் எண்" name="" id="song_number">
                <button onclick="goToSong()" class="btn" id="search_icon">
                    <i class="text-dark fas fa-search"></i>
                </button>
                <p id="error_song_number" class="px-1 text-danger d-none"></p>
            </form>
        </div>

        <div class="col-12 col-sm-6 col-md-5 mt-5 mt-sm-5 mt-md-0 align-self-center">
            <div class="row w-100 mt-0 mt-sm-0 mt-md-2 mx-0 align-items-center">
                <input id="set_font" type="range" min="1" max="3" step="0.5" onchange="setFontSize()">
                <p id="font_size" class="d-none d-sm-none d-md-block pl-md-3 mt-md-3 mb-0 text-dark"
                    style="white-space: nowrap;">font-size: 1.5 rem</p>
                <p id="font_size" class="d-block d-sm-block d-md-none pl-0 pl-sm-0 mt-3 mt-sm-3 mb-0 text-dark"
                    style="white-space: nowrap;">font-size: 1 rem</p>
            </div>
        </div>
    </div>
    <div class="overflow-auto">
        <table class="table tamil-font">
            <thead>
                <tr class="h5">
                    <th class="border-0" scope="col">பாடல்</th>
                    <th class="border-0 text-center" scope="col">பாடல் என்</th>
                </tr>
            </thead>
            <tbody>
                {{#each songList}}
                <tr class="h5">
                    <td> <a class="text-decoration-none" href="{{this.songNo}}">{{this.name}}</a></td>
                    <td class="text-center">{{this.songNo}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>